/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,700|Roboto:400,700|Indie+Flower');


:root {
    --primary:#6b98c9;
    --secondary:#9dbfdd;
    --success:#28a745;
    --info:#17a2b8;
    --warning:#ffc107;
    --danger:#dc3545;
    --light:#f8f9fa;
    --dark:#1b64ad;
    --middle: #b3d7ff; 
    --grey: #c9c9c9;
    --hello: #bbcada;
    --roze: #c41e80;
    --hello:   #bbcada;
}

html,body {
    height: 100%;
}

body {
    margin: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block;
}

body {
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2d5986;
}

.footer-copyright {
    background-color: var(--primary);
}

h1 {
    font-family: 'Indie Flower', sans;
    color: var(--light);
}

h3 {
    color: var(--light);
}

h4 {
    color: var(--roze);
}

h6 {
    font-family: 'Indie Flower', sans;
    color: var(--light);
}

input {
    margin-left: 2em;
}

.jumbotron h2 {
    line-height: 0.2;
}

.jumbotron {
    background-color: #557ca3;
}

.alert {
    text-align: right;
}

.bg-lightgrey {
    background-color: #bbcada;
}

